@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body, header, nav, section, footer, div, p, h1, h2, h3, h4, h5, h6, ul, li {padding: 0; margin: 0; border: 0; box-sizing: border-box;
}

a {text-decoration: none; cursor: pointer;
  color: black;
}

ul li { list-style-type: none;}

body {font-family: 'PT Sans', sans-serif;  
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
background-color:rgb(145, 157, 157);
padding: 0.7rem 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
 width: 2.5rem;
 opacity: 0.7;
}

nav ul {
  width: 40%;
}

header .nav_ul li a {
  font-size: 1.4rem;
  color:rgb(55, 18, 6);
  padding: 0.3rem 0;
}

header .nav_ul li a:hover {
  color: white;
  border-bottom: 2px solid white;
  transition: all 0.3s;
}

input {
  height: 1.5rem; 
}

input:hover {
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(114, 112, 112);
  border: 0;
}

main {
  background-color: rgb(226, 219, 213);
  padding-bottom: 8rem;
  min-height: 100vh;
  flex: 1 1 auto;
}

.first-container {
  padding: 3rem 1rem 8rem 1rem;
}

.row {
  flex-wrap: wrap;
}

.card {
 max-width: 280px;
 margin: 1rem;
 position: relative;
 font-size: 0;
}

.card:hover {
box-shadow: 2px 2px 4px 2px rgba(132, 126, 126, 0.6);
}

.card:hover .box_color {
display: block;
transition: all 0.3s;
box-shadow: 2px 2px 4px 2px rgba(132, 126, 126, 0.6);
z-index: 2;
}

.heart {
position: absolute;
top: 1rem;
left: 1rem;
}

.heart img {
  width: 1.2rem;
}

.card-img {
width: 280px;
}

.wrapper_price {
  font-size: 1rem;
  padding: 1rem;
  background-color: white;
}

.price {
  font-weight: bold;
  align-self: flex-start;
}

.card .box_color {
  background-color: white;
  font-size: 1rem;
  padding: 1rem;
  position: absolute;
  bottom: -5.2rem;
  left: 0;
  display: none;
}

.box_image img {
  width: 30%;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid transparent;
}

.box_size {
  padding-top: 1rem;
  justify-content: left;
}

.box_size__item {
  padding: 0.3rem 0.5rem;
  background-color: rgb(204, 189, 176);
  margin-right: 0.5rem;
}

.box_size__item:last-child {
  margin-right: 0;
}

.desable {
  background-color:  rgb(226, 219, 213);
  text-decoration: line-through;
}

.box_image img:hover {
border-bottom: 2px solid orangered;
}

aside {
  width: 28%;
  align-self: flex-start;
  padding: 1rem;
}

aside h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
  line-height: 2.2.rem;
  padding-bottom: 1rem;
}

aside ul li {
  font-size: 1.2rem;
  padding: 0.5rem;
  white-space:nowrap;
}

aside ul li a:hover {
color: rgb(255, 254, 254);
border-bottom: 2px solid rgb(251, 250, 249) ;
}

.image_for_article {
  width: 45%;
  height: 23rem;
  background-repeat: no-repeat ;
  background-image: url('./image/choise.jpg');
  background-size: cover;
  align-self: flex-start;
}

article {
  width: 55%;
  align-self: flex-start;
  padding: 0 2rem 1.5rem 2rem;
}

article h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
margin-bottom: 2rem;
}

article p {
  padding: 0.5rem 0;
}

footer {
  flex-shrink: 0;
  background-color: rgb(166, 161, 161);
  padding: 2rem 1rem 1rem 1rem;
  color: white;
}

.footer_wrapper {
  justify-content: left;
}

.logo_footer {
flex-basis: 20%;
}

.contact {
flex-basis: 60%;
}

.social {
flex-basis: 20%;
}

.logo_footer a img {
  width: 3rem;
  opacity: 0.7;
}

.social ul li {
  display: inline-block;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 9px;
  margin-right: 0.8rem;
}

.copyright {
  font-size: 0.8rem;
}